.matrix {
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.matrix-row {
  display: flex;
  justify-content: center
}

.cell {
  border: 1px solid #ddd;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

table.history {
  border: 1px solid #aaa;
  border-collapse: collapse;
  margin: 16px;
}

table.history td, table.history th {
  border: 1px solid #aaa;
  padding: 6px 12px;
}

table.history .right-align {
  text-align: right;
}

table.history tr:nth-child(odd) td {
    background-color: #ccc;
}

[v-cloak] > * { 
  display: none;
}

[v-cloak]::before { 
  content: 'Loading...' 
}

.v-label--active {
  color: #fff !important;
}